<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App with Vue.js</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <button @click='showCheckOut'> {{cartItemCount}} <span class="fas fa-shopping-basket"></span> Checkout</button> <!--Increments the checkout button-->
        <div v-if='showProduct'>
        <img v-bind:src="product.image" alt="football">
        <h2>Activity: {{product.activity}}</h2>
        <p>Location: {{product.location}}</p>
        <p>Price: £{{product.price}}</p>
        <button @click='addToBasket' v-if='addToCart'> Add to Basket </button> <!--v-show will chekc if user can add more or not-->
        <button disabled= 'disabled' v-else>Add to Basket</button> <!--Makes button disapear when exceeded amount-->
    </div>
    <div v-else>

    </div>

    </div>
<script>
    let app = new Vue({
        el: '#app', //elements needed
        data: {
            product: {
                id: 1,
                activity: "Football",
                location: "London",
                price: "2000",
                image: "Images/Football.png",
                availableInventory: 5,
            },
            cart: [],
            showProduct:true,
        },
       
        methods: {     ///To make the button work on vue.js
            addToBasket: function(){
                this.cart.push(this.product.id)
            },

            showCheckOut(){
                this.showProduct = this.showProduct ? false : true;
            }
        },
        computed:{ //checkout button showing the number of items in the cart
            cartItemCount:function(){
                return this.cart.length || '';
            },

            addToCart: function(){ //if available inventory is greater than cart item count then you can add more, but if its the same it will return false. This can stop users from adding more.
                return this.product.availableInventory > this.cartItemCount;
            }
        }
    })


</script>


</body>
</html>