<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App with Vue.js</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">

        <button class="checkoutButton" @click='cartButton'> {{cartItemCount}} <span class="fas fa-shopping-basket"></span> Checkout</button> <!--Increments the checkout button-->
        <p>

        <div v-if='showActivity'>
             <div class="container">
                <div class="card">
                    <div class="info">
                        <img v-bind:src="Activity.image" class="image-size"  alt="football">
                        <div class="activityInfo"> {{Activity.activity}}</div> 
                        <div class ="availableInfo"> Spaces left: {{Activity.availableSpaces}}</div>
                        <p>Location: {{Activity.location}}</p>
                        <p>Price: £{{Activity.price}}</p>
                        <button @click='addToBasket' class="addBasket" v-if='addToCart'> Add to Basket </button> <!--v-show will check if user can add more or not-->
                        <button disabled= 'disabled' v-else>Add to Basket</button> <!--Makes button disapear when exceeded amount-->
                    </div>
                </div>
            </div>
        </div>

    <div v-else>
        <h2>Checkout</h2>
        <p>
        <strong>Full Name:</strong>
        <input v-model='order.fullName'/>
        </p>
        <p>
        <strong>Phone number:</strong>
        <input v-model='order.phoneNumber'/>
        </p>
    </div>

    </div>
<script>
    let app = new Vue({
        el: '#app', //elements needed
        data: {
            Activity: {
                id: 1,
                activity: "Football",
                location: "London",
                price: "20",
                image: "Images/Football.png",
                availableSpaces: 5,
            },
            cart: [],
            showActivity:true,

            order:{
                fullName: '',
                phoneNumber: '',
            }
        
        },
       
        methods: {     ///Add to Basket button
            addToBasket(){
                this.cart.push(this.Activity.id);
                        this.Activity.availableSpaces -=1;
            },

            cartButton(){ //equivalent to a IF function
            this.showActivity = this.showActivity ? false : true;
            }
        },


        computed:{ //checkout button showing the number of items in the cart
            cartItemCount(){
                return this.cart.length || '';
            },

            addToCart(){ //if available spaces is greater than cart item count then you can add more, but if its the same it will return false. This can stop users from adding more.
                return this.Activity.availableSpaces;
            }
        }
    })


</script>


</body>
</html>